body{
  margin: 0;
  padding: 0;
}

#welcomeSection{
  margin-top: 0;
  height: 100vh;
  display: flex;
}

nav{
  height: 100vh;
  width: 20vw;
  background-color: #ededed;
}

.logo{
  height: 80px;
  border-radius: 50%;
}

nav ul li{
  color: #7f7f7f;
  list-style-type: none;
  padding: 25px 0;
  margin: 0 10px;
}

nav ul li:hover{
  color: #000000;
}

#splash{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 100%;
  background-image: url("/img/wallpaper.jpeg");
  background-color: grey;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
}

#splash h1, h3{
  text-shadow: 1px 2px black;
  color: white;
}

#splash h1{
  font-size: 5em;
  margin: 0;
}

#splash h3{
  font-size: 2em;
}

.thumbnail{
  height: 300px;
  width: 300px;
}
